@import './colors';

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $off-white;
}

.active {
  color: $white !important;
}

.height-50 {
  height: 50px !important;
}

.height-75 {
  height: 75px !important;
}

.height-100 {
  height: 100px !important;
}

.height-150 {
  height: 150px !important;
}

.height-200 {
  height: 200px !important;
}

.min-height-90vh {
  min-height: 90vh !important;
}

.width-50 {
  width: 50px !important;
}

.width-75 {
  width: 75px !important;
}

.width-100 {
  width: 100px !important;
}

.width-150 {
  width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-off-white {
  background-color: $off-white !important;
}

.bg-dark-white {
  background-color: $dark-white !important;
}

.bg-light-dark {
  background-color: $light-dark !important;
}

.bg-mid-dark {
  background-color: $mid-dark !important;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.color-white {
  color: $white !important;
}

.color-off-white {
  color: $off-white !important;
}

.color-dark-white {
  color: $dark-white !important;
}

.color-light-dark {
  color: $light-dark !important;
}

.color-mid-dark {
  color: $mid-dark !important;
}

.color-light-blue {
  color: $light-blue !important;
}

.color-light-blue {
  color: $light-blue !important;
}

.border-light-dark {
  border-color: $light-dark !important;
}

.text-justify {
  text-align: justify !important;
}

.fs-100 {
  font-size: 100px !important;
}