.login-page {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: contain;
  position: relative;
}

.login-page .login-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--off-white);
}

.login {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 3rem;
}