:root {
  --white: #ffffff;
  --off-white: #f2f2f2;
  --dark-white: #c4c4c4;

  --light-dark: #949494;
  --mid-dark: #5d5d5d;
  --light-blue: #3a7dff;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
}

.active {
  color: var(--white) !important;
}

.height-50 {
  height: 50px !important;
}

.height-75 {
  height: 75px !important;
}

.height-100 {
  height: 100px !important;
}

.height-150 {
  height: 150px !important;
}

.height-200 {
  height: 200px !important;
}

.min-height-90vh {
  min-height: 90vh !important;
}

.width-50 {
  width: 50px !important;
}

.width-75 {
  width: 75px !important;
}

.width-100 {
  width: 100px !important;
}

.width-150 {
  width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-off-white {
  background-color: var(--off-white) !important;
}

.bg-dark-white {
  background-color: var(--dark-white) !important;
}

.bg-light-dark {
  background-color: var(--light-dark) !important;
}

.bg-mid-dark {
  background-color: var(--mid-dark) !important;
}

.bg-light-blue {
  background-color: var(--light-blue) !important;
}

.color-white {
  color: var(--white) !important;
}

.color-off-white {
  color: var(--off-white) !important;
}

.color-dark-white {
  color: var(--dark-white) !important;
}

.color-light-dark {
  color: var(--light-dark) !important;
}

.color-mid-dark {
  color: var(--mid-dark) !important;
}

.color-light-blue {
  color: var(--light-blue) !important;
}

.color-light-blue {
  color: var(--light-blue) !important;
}

.border-light-dark {
  border-color: var(--light-dark) !important;
}

.text-justify {
  text-align: justify !important;
}

.fs-100 {
  font-size: 100px !important;
}

/* Login */
.login-page {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: contain;
  position: relative;
}

.login-page .login-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--off-white);
}

.login {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 3rem;
}
